:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --background-color: #e5e5e5;
  --accent-text-color: #ffffff;
  --secondary-background-color: #2f303a;
  --__button-team-background: #f5f4fa;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}
