@import "./utils/variables";
@import "./utils/reset";
@import "./components/body";
@import "./components/container";
@import "./components/section";
@import "./components/hero";
@import "./components/hero-button";
@import "./components/titles";
@import "./components/about-section";
@import "./components/projects";
@import "./components/team";
@import "./components/footer";
@import "./components/form-overlay";
@import "./components/filter";
@import "./components/header";
@import "./components/clients";
@import "./components/social-icons";
@import "./components/footer-form";
@import "./utils/breakpoints";
@import "./components/header--modal";
@import "./components/mobile--menu";
