.clients__list {
  display: flex;
  margin-right: -30px;
  & :not(:last-child) {
    margin-right: 30px;
  }
  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
  }
}
.clients__list li {
  width: 100%;
  flex-basis: calc((100% - 60px) / 2);
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.clients__list a {
  fill: #afb1b8;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--cubik) 250ms, border $cubik 250ms;

  margin-bottom: $main--margin;

  &:focus,
  &:hover {
    fill: #2196f3;
    border: 1px solid;
    border-color: #2196f3;
  }
}
.client__icons {
  content: "";
  outline: none;
  color: inherit;
}
