$text--color: #757575;
$accent--color: #2196f3;
$title--color: #212121;
$accent--text: #ffffff;
$dark--background: #2f303a;
$secondary--background: #f5f4fa;
$cubik: cubic-bezier(0.4, 0, 0.2, 1);
$main--margin: 30px;
$font: "Roboto", sans-serif;
$logo--font: "Raleway", sans-serif;
